rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Media for Trip Chats
    match /chat_media/{tripId}/{fileName} {
      allow read, write: if request.auth != null;
    }
    
    // User Profile Pictures
    match /users/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Participant Avatars
    match /participant_avatars/{fileName} {
      allow read, write: if request.auth != null;
    }

    // Trip banners
    match /trips/{fileName} {
      allow read: if true;
      allow write: if request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
